{% extends 'index.html'%}
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->


{% block content %}
{% load static %}
  <div class="container marketing">
            <div class="card text-center">
                <div class="card-header">
                </div>
                <div class="card-body">
                  <h2 class="featurette-heading">Our History<span class="text-muted">.</span></h2>
                  <p class="card-text">LGMS is a non-stock, non-profit, non- sectarian family owned educational institution, which started January of 2000.The school started with a small group of children on a rented bungalow house in Aguirre exactly where our small building now is situated.</p>
                  <p class="card-text">The first phase of Elementary, which is grades 1 to 3, started in the year 2004 upon the consistent request of our Casa graduating parents.
                  The second phase of Elementary, which is grades 4 to 6 were opened the following year to accommodate transferee students.</p>
                  <p class="card-text">LGMS is duly recognized by the Department of Education in 2003 for our Casa course and 2006 for complete elementary course.</p>
                  <p class="card-text">As a continuous service for the students and parents, LGMS purchased the house and lot ,
                  demolished the bungalow house and re-built a new building in 2005 to cater to the growing population .
                  From then on, yearly renovations and building improvements are being done .</p>
                  <p class="card-text">Over the years, LGMS has been working towards attaining the goal of Montessori Education:
                  the development of its students to excel not only in academics and values but likewise the development of the students who are lifelong learners ,
                  good citizens of our country and will be movers of the future.</p>
                  <p class="card-text">Thus far, it has produced graduates who excel academically both in Montessori environment and Traditional big schools.</p>
                </div>
                <div class="card-footer text-muted">
                </div>
        </div>
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">School Philosophy <span class="text-muted">We believe that the child is born with human potentials.</span></h2>
        <p class="lead">We believe that the child is born with human potentials and the ability to develop their functional intellect, coordinated movement, language, ability to work independently.</p>
        <p class="lead">We believe that in order to actualize these potentials, the child needs to be able to act on his environment. It is through activity that he will be able to make the development necessary to transform himself into an independent, successful individual.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" img src="{% static 'images/boyplay.jpg'%}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Our Mission <span class="text-muted"></span></h2>
        <p class="lead">We are committed to develop compassionate global citizens with a sense of responsibility, integrity, inner discipline, and creativity..</p>
        <p class="lead">We, likewise, prepare them to overcome challenges with confidence and enhance the child's potentials to the fullest extent possible through a rich comprehensive curriculum in a prepared environment.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" img src="{% static 'images/mission.jpg'%}" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Our Vision<span class="text-muted">.</span></h2>
        <p class="lead">Learning Garden Montessori School envisions learners who are holistically developed, globally competitive, and good stewards of the Earth with great love for country and strong faith in God who will be movers of the future..</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" img src="{% static 'images/vision1.jpg'%}"data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>
    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-child fa-stack-2x icon-background green"></i>
        </span>
        <h2>Intellectual</h2>
        <p>develop the natural joy of learning, positive attitude towards and acquire critical thinking skills.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-balance-scale fa-stack-2x icon-background green"></i>
        </span>
        <h2>Psychological and Emotional</h2>
        <p>help the child learn the need for self-discipline which will emanate a balance and harmonious relationship among his peers, teachers, and members of the community.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-edit fa-stack-2x icon-background green"></i>
        </span>
        <h2>Moral</h2>
        <p>instill awareness of what is right and wrong and to help the child practice fair judgment.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-smile fa-stack-2x icon-background green"></i>
        </span>
        <h2>Social</h2>
        <p>help the child develop respect, care, and compassion.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-globe fa-stack-2x icon-background green"></i>
        </span>
        <h2>Cultural</h2>
        <p>encourage the child to appreciate and accept the diversity of culture that is needed to foster camaraderie amidst multicultural environment.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-link fa-stack-2x icon-background green"></i>
        </span>
        <h2>Physical</h2>
        <p>provide a secure environment where they can explore a variety of actual materials, equipment and learning experience for them to effectively learn.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <hr class="featurette-divider">

      <!-- /for core values -->

      <div class="row">
        <div class="col-lg-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-leaf fa-stack-2x icon-background green"></i>
          </span>
          <h2>Respect</h2>
          <p>develop the natural joy of learning, positive attitude towards and acquire critical thinking skills.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-plus fa-stack-2x icon-background green"></i>
          </span>
          <h2>Excellence</h2>
          <p>help the child learn the need for self-discipline which will emanate a balance and harmonious relationship among his peers, teachers, and members of the community.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-heart fa-stack-2x icon-background green"></i>
          </span>
          <h2>Compassion</h2>
          <p>instill awareness of what is right and wrong and to help the child practice fair judgment.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-folder-open fa-stack-2x icon-background green"></i>
          </span>
          <h2>Accountability</h2>
          <p>help the child develop respect, care, and compassion.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <span class="fa-stack fa-4x">
            <i class="fa fa-user fa-stack-2x icon-background green"></i>
          </span>
          <h2>Integrity</h2>
          <p>encourage the child to appreciate and accept the diversity of culture that is needed to foster camaraderie amidst multicultural environment.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    <!-- /for core values end -->

  </div><!-- /.container -->
<hr class="featurette-divider">

  {% endblock %}
