{% extends 'index.html'%}

{% block content %}

<div class="container marketing">
  <hr class="featurette-divider">


  <!-- Three columns of text below the carousel -->
  <div class="row justify-content-md-center">

    <!-- test modal -->
    <!-- test modal -->
    <div class="col-lg-4">
      <span class="fa-stack fa-4x">
              <a href="#" data-toggle="modal" data-target="#applicationformsModalCenter">
              <i class="fa fa-download fa-stack-2x icon-background green"></i></a>
            </span>
      <h2>Application Forms</h2>
      <p></p>
      <!-- modal form of Application Form -->
      <div class="modal fade" id="applicationformsModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="exampleModalLongTitle">LGMS Forms</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p><a href="{% url 'casaview' %}" role="button" class="btn btn-secondary success" title="Popover title" data-content="Popover body content is set in this attribute.">CASA Application Form</a></p>
              <p><a href="/media/forms{{ gsform.doc }}" role="button" class="btn btn-secondary success" title="Popover title" data-content="Popover body content is set in this attribute.">Grade School Application Form</a></p>
              <p><a href="/media/forms{{ gsrecom.doc }}" role="button" class="btn btn-secondary success" title="Popover title" data-content="Popover body content is set in this attribute.">Grade Student Recommendation Form</a></p>
              <p><a href="/media/forms{{ hsrecom.doc }}" role="button" class="btn btn-secondary success" title="Popover title" data-content="Popover body content is set in this attribute.">High School Recommendation Forms</a></p>
              <p><a href="/media/forms{{ hiring.docx }}" role="button" class="btn btn-secondary success" title="Popover title" data-content="Popover body content is set in this attribute.">Hiring Application Forms</a></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- modal form of Application Form -->
    </div><!-- /.col-lg-4 -->
    <div id="contact" class="col-lg-4">
      <span class="fa-stack fa-4x">
        <a href="#" data-toggle="modal" data-target="#mapModalCenter">
              <i class="fa fa-map-marker fa-stack-2x icon-background green"></i></a>
                </span>
      <h2>Location</h2>
      <!-- this is for map container -->
      <div class="modal fade" id="mapModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title" id="exampleModalLongTitle">LGMS LOCATION</h1>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <iframe id="map-container" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3863.513517661026!2d121.01180481500596!3d14.455176789895258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397ce3dd275c431%3A0x3120fad3d13ece50!2s266+Aguirre+Ave%2C+Manila%2C+1700+Metro+Manila!5e0!3m2!1sen!2sph!4v1533988902594">












































































































































































































































































      	      </iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- this is end of map container modal -->
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <span class="fa-stack fa-4x">
              <a href="#">
              <i class="fa fa-phone fa-stack-2x icon-background green"></i></a>
            </span>
      <h2>+6328204064</h2>
      <h2>+6327030662</h2>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <span class="fa-stack fa-4x">
              <a href="mailto:lrng_garden_montessori@yahoo.com.ph?subject=inquiry">
              <i class="fa fa-envelope fa-stack-2x icon-background green"></i></a>
            </span>
      <h2>Email Us</h2>
      <p></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <hr class="featurette-divider">
  <h1 class="display-2 text-center">Admission Process</h1>
  <hr class="featurette-divider">
  <!-- equal row new students  -->
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
          </div>
          <div class="col-md-auto">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
              <span class="fa-stack fa-4x">
                    <i class="fa fa-user fa-stack-2x icon-background blue-icon"></i>
                </span>
                <p class="lead">New Students</p>
            </button>
          </div>
          <div class="col col-lg-2">
          </div>
        </div>
        <!-- will try modal here -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLongTitle"></h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h1>Procedure</h1>
                <li>Fill up the application form and attach requirements </li>
                <li> Arrange for an interview. </li>
                <li>Have the child undergo assessment.</li>
                <li> Settle Tuition Fee</li>
              </div>
              <div class="modal-body">
                <h1>Requirement</h1>
                <li>8 - 26 years old - PLAYGROUP</li>
                <li> 6 - 6 years old - CASA </li>
                <li>6 - 12 years old - ELEMENTARY</li>
              </div>
              <div class="modal-body">
                <h1>Required Documents</h1>
                <li> Application Form (duly filled up)</li>
                <li> Photocopy of the ff: </li>
                <ol>
                  <li>Birth certificate </li>
                  <li>Baptismal Certificate (Catholics only) </li>
                  <li>Report Card (Form 138) or its equivalent (for those who have had previous school experience) with a rating of 81% and above in all major subjects for Elementary applicants and 85% and above for secondary level
                    applicants.
                  </li>
                  <li>Transcript Of Records (Form 137)
                    • Bring original copy of each of the above for verifications </li>
                  <li>Recommendation Letter</li>
                  <li>Certificate of Completion </li>
                  <li>Certificate of Good Moral Character </li>
                  <li>Health Form (from LGMS) </li>
                  <li>Additional Requirements for alien students
                    - Copy of Alien Certificate of Registration
                    - Copy of Passport showing number, place, date of issue and type of Visa
                    - Study Permit from the Bureau of Immigration</li>
                </ol>
              </div>
              <div class="modal-body">
                <h1>Enrollment Proper</h1>
                <ol>
                  <li>All applicants who passed the entrance examination and interviews are required to submit all requirements necessary for the level they applied for. They are required too to settle the Reservation Fee. The Reservation
                    fee
                    shall be valid only within the prescribed enrolment period. In case of failure to enroll within the prescribed period, the slot shall be given to other applicants seeking admission.
                    <ol type="I">
                      <li>Upon enrollment, the Reservation fee shall be considered part of the school fees and shall be deductible from school fees’ total amount, but not refundable.</li>
                      <li>The Reservation fee is not considered as a student’s confirmation or acceptance in school. Only when proper school fees have been paid, and required transfer credentials have been submitted, shall the student be
                        considered accepted in the level applied for.</li>
                    </ol>
                  </li>
                  <li>Parents are required to sign a Conforme on Acceptance to meet all school requirements and to observe all rules and regulations already existing or which will be implemented in the future as well as the Medical History
                    Conforme.</li>
                  <li>Parents may be required to sign a Conforme on Probation if their children are placed under such category.</li>
                  <li>All fees indicated in the schedule of payments are settled with the cashier. Only after all fees required for the period are paid will the applicant be recognized as officially enrolled at LGMS.</li>
                  <li>All New Parents are required to undergo an orientation to be familiarized with the Montessori System and the School’s Rules and Regulations.</li>
                </ol>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of new student modal -->
      </div>
      <!-- equal row old students  -->
      <div class="col">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
          </div>
          <div class="col-md-auto">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#oldstudentModalCenter">
              <span class="fa-stack fa-4x">
                    <i class="fa fa-user fa-stack-2x icon-background blue-icon"></i>
                </span>
              <p class="lead">Old Students</p>
            </button>
          </div>
          <div class="col col-lg-2">
          </div>
        </div>
        <!-- insert modal here  -->
        <div class="modal fade" id="oldstudentModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLongTitle"></h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h1>Reservations</h1>
                <li>All old students intending to re-enroll for the coming school year are obliged to make their reservation upon receipt of the reservation Forms (month of January) . Failure to do so implies a lack of intention to come back
                  the
                  following school year. Thus, forfeiting their placement for the incoming school year.</li>
              </div>
              <div class="modal-body">
                <h1>Enrollment Paper</h1>
                <li>Fill up the Registration Form, Pick-up Form, Waiver of Liability, and Health Form. </li>
                <li> Sign a medical and enrollment conforme to meet all the school requirements and to observe all rules and regulations already existing or which may be implemented in the future. </li>
                <li>All fees indicated in the schedule of payments are settled with the Cashier. Only when all fees required for the period are paid, will the student be recognized as officially enrolled at LGMS.</li>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of modal old students here  -->
      </div>
    </div>
  </div>
  <!-- equal row  -->
</div>
<!-- Three columns of text below the carousel -->
<div class="container marketing">
  <hr class="featurette-divider">
  <div class="row">
    <span class="fa-stack fa-4x">
        <i class="fa fa-edit fa-stack-2x icon-background green"></i>
      </span>
    <h2 class="blue-icon">Policies on School Fees</h2>
    <div class="card">
      <div class="card-body">
        <div class="col">
          <div class="card text-white bg-success mb-3" style="max-width: 100rem;">
            <div class="card-body">
              <ol type="I">
                <li>Enrollment is strictly limited to ensure each student’s best education, school fees are budgeted for the whole year. Hence, all fees are programmed and non- refundable. Any Schedule of payment must be strictly observed to
                  enable
                  the school to promptly settle all accounts concerning operations for students’ benefit. A surcharge of 5% of the amount overdue for every month of late payment and/or fraction thereof will be added to the tuition fee.
                </li>
                <li>Parents are required to sign a Conforme on Acceptance to meet all school requirements and to observe all rules and regulations already existing or which will be implemented in the future as well as the Medical History
                  Conforme.</li>
                <li>Parents may be required to sign a Conforme on Probation if their children are placed under such category.</li>
                <li>All fees indicated in the schedule of payments are settled with the cashier. Only after all fees required for the period are paid will the applicant be recognized as officially enrolled at LGMS.</li>
                <li>All New Parents are required to undergo an orientation to be familiarized with the Montessori System and the School’s Rules and Regulations.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <span class="fa-stack fa-4x">
          <i class="fa fa-copy fa-stack-2x icon-background green"></i>
        </span>
    <h2 class="blue-icon">School Record Transfer</h2>
    <div class="card">
      <div class="card-body">
        <div class="col">
          <div class="card text-white bg-success mb-3" style="max-width: 100rem;">
            <div class="card-body">
              <ol type="I">
                <li>Requests for Certification, Recommendation Letters and Transcript of Records will be charged to the student’s account.
                </li>
                <li>Request for School Record Form will be released one week after it was filed. All official documents shall be personally requested from the Registrar by parents or guardians who need to accomplish release forms.</li>
                <li>Pertinent school documents and other school activities such as commencement exercises, etc. shall be withheld from students who incur overdue accounts. A student who fails to meet his/her financial obligations for more
                  than
                  thirty (30) days may be dropped from the rolls.</li>
                <li>Student Clearance, school documents and certifications shall only be released upon full settlement of any outstanding obligation and all accountabilities have been fully satisfied. In cases of more than one (1) child
                  enrolled
                  with LGMS , all obligations by the family concerned shall be fully settled before issuance of clearance, documents and certifications to any, or all, of the children.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <span class="fa-stack fa-4x">
          <i class="fa fa-bell fa-stack-2x icon-background green"></i>
        </span>
    <h2 class="blue-icon">Class Schedule</h2>
    <div class="card">
      <div class="card-body">
        <div class="col">
          <div class="card text-white bg-success mb-3" style="max-width: 100rem;">
            <div class="card-body">
              <p class="lead">The CASA classes have three (3) sessions during the day which lasts for more or less three hours.</p>
              <ol type="I">
                <li>Morning Session 7:30AM – 10:30AM
                </li>
                <li>Noon Session 10:30AM - 1:30PM</li>
                <li>Afternoon Session 1:30 - 4:30 PM</li>
                <p class="lead">Dismissal will be at least 15 mins. before the next class starts. All students are expected to be fetched on time.</p>
                <p class="lead">Classes in Grade School starts at</p>
                <li>7:30 AM – 11:50 AM ( GS 1-3) </li>
                <li>7:30AM - 2:30 PM (GS 4-6) </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- end of test container -->
<!-- START THE FEATURETTES -->
<!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% endblock %}