{% extends 'index.html'%}


{% block content %}
{% load static %}
<link href="{% static 'students/css/cal.css' %}" rel="stylesheet">
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">June<span class="text-muted">  National Safe Kids</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">13</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Parents Orientation</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10 AM </li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> School Grounds</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">15</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade School and High School Start of Classes</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">29</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Eid'l FITR</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
      <h3 class="text-uppercase"><strong>ECLUB Selling</strong></h3>
    </div>
  </div>

</div>
<!-- THIS IS JULY MONTH ACTIVITY  -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">July<span class="text-muted">  Nutrition Month</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">06</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>First FRIDAY Mass</strong></h3>
      <h3 class="text-uppercase"><strong>Student Council Week</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 7am</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> School Grounds</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">16</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade School 1st MASTERY CHECK-UP</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">27</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>National Disaster & Preparedness Day</strong></h3>
      <h3 class="text-uppercase"><strong>MUFTI DAY</strong></h3>
      <h3 class="text-uppercase"><strong>Nutritional Month Celebration</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
</div>

<!-- AUGUST -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">August<span class="text-muted">  Buwan ng Wika</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">03</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>First FRIDAY Mass</strong></h3>
      <h3 class="text-uppercase"><strong>Senior-HIGH 1st DAY All of CLASSES</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 7am</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> School Grounds</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">11</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Parents Enrichment Program</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Saturday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">21</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Ninoy Aquino Day (Special Non-Working Holiday)</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tuesday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">23-28</span></h1>
    </div>

    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade School 1st Mastery TEST</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Thu - Tue</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">27</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>National Heroes Day</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">30</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Maria Montessori's 147th Birthday</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Thursday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">31</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Buwan ng Wika Culminating Activity</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
      </ul>
    </div>
  </div>
</div>
<!-- SEPTEMBER -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">September<span class="text-muted">  1st Quarter Parent-Teacher Conference</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">08</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Mama Mary's Birthday</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> SEPTEMBER</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">25-27</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade School 2nd Mastery TEST</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday-Thursday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">30</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>FAMILY DAY</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sunday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
      </ul>
    </div>
  </div>
</div>


<!-- OCTOBER -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">October<span class="text-muted">  Rosary and United Nations Month</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">19-20</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>United Nation's Celebration / OPEN HOUSE / MYMP</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday-Wednesday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">25-31</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>MID - YEAR ASSESSMENT</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Thursday - Wednesday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>

</div>

<!-- NOVEMBER -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">November<span class="text-muted"></span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">10</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>2nd Quearter Parent-Teacher Conference</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Saturday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">15</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Medical and Dental Check up</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Thursday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">16</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>FIRST HOLY COMMUNION</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">24</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>YAYA / DRIVERS Enrollment Program</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Saturday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">30</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Bonifacio DAY</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
</div>
<!-- DECEMBER -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">December<span class="text-muted"> Education Week</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">10</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>First FRIDAY Mass</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">10-13</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Feeding Program</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday - Thursday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">14-19</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade School 2nd Mastery Test</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday-Wednesday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">20</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Christmas Party</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Thursday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">21</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Gift Giving (OUTREACH PROGRAM)</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>TBD</li>
      </ul>
    </div>
  </div>
</div>

<!-- 2019 TIMELINE ACTIVITIES -->
<hr class="featurette-divider">
<h1 class="display-2">2019 Timeline Activities</h1>
<!-- JANUARY 2018 -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">January<span class="text-muted"> Physical Fitness Sports & Development Month</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">15-18</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Autism Awareness Week</strong></h3>
      <h3 class="text-uppercase"><strong>LGMS 19TH Foundation Day</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Tuesday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
</div>

<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">February<span class="text-muted"> National Arts & Health Month</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">05</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Chinese New Year</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Tuesday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">12</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>CASA Field TRIP</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Tuesday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">13</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Parañaque Day</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Wednesday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">16</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>3rd Quarter Parent - Teacher Conference</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Saturday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">21</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade School FIELD TRIP</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Thursday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>TBD/li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">22</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>NO CLASSES FOR GRADE SCHOOL</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>OPEN HOUSE</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Saturday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
      </ul>
    </div>
  </div>
</div>

<!-- MARCH  -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">March<span class="text-muted"> Fire Week</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">12-15</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade School 4th FINAL EXAMS</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Tuesday - Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">18-20</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Required Practice</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday - Wednesday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">21-22</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>MOVING UP Day & Graduation</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Thursday - Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">25-29</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Teachers - Clearance</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday - Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
</div>

<!-- APRIL  -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">April<span class="text-muted"> Teacher's Break</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">12-15</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade School 4th FINAL EXAMS</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Tuesday - Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">18-20</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Required Practice</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday - Wednesday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">21-22</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>MOVING UP Day & Graduation</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Thursday - Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">25-29</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Teachers - Clearance</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday - Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
</div>
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">April<span class="text-muted"> Teacher's Break</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">10</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Resume of WORK</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Wednesday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">18-21</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>HOLY WEEK</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Thursday - Sunday</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">22</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>SUMMER CLASSES</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Thursday - Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
</div>
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">MAY<span class="text-muted"> SUMMER CLASSES</span></h2>
</div>
<hr class="featurette-divider">
{% endblock %}