{% extends 'index.html'%}


{% block content %}
{% load static %}

<div class="container">
  <hr class="featurette-divider">
  <h1 class="display-2 text-center">Calendar of Activities</h1>

</div>
<link href="{% static 'students/css/cal.css' %}" rel="stylesheet">
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">June<span class="text-muted">  National Safe Kids</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">09</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Parents Orientation</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10 AM </li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> School Grounds</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">13</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade / High School Start of Classes</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 10 AM </li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> School Grounds</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">15</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Eid'l Fitr</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">29</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Club Selling</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
      <h3 class="text-uppercase"><strong>ECLUB Selling</strong></h3>
    </div>
  </div>

</div>
<!-- THIS IS JULY MONTH ACTIVITY  -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">July<span class="text-muted">  Nutrition Month</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">02</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>CASA start of Classes</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 7am</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> School Grounds</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">06</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>First FRIDAY Mass</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 7am</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> School Grounds</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">2-6</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Student Council Week</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 7am</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> School Grounds</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">16-20</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade / High School 1st MASTERY CHECK-UP</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">27</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>National Disaster & Preparedness Day</strong></h3>
      <h3 class="text-uppercase"><strong>MUFTI DAY</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">30</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Nutrition Month Celebration</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
</div>

<!-- AUGUST -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">August<span class="text-muted">  Buwan ng Wika</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">01</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Senior-HIGH 1st DAY All of CLASSES</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 7am</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> School Grounds</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">03</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>First Friday MASS</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">11</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Parents Enrichment Program</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Saturday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">13-16</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade / High School 1st Master TEST</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">21-22</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Ninoy Aquino Day (Special Non-Working Holiday)</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">27</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Eidul Adha</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">30</span></h1>
    </div>

    <div class="col-10">
      <h3 class="text-uppercase"><strong>National Heroes Day (Regular Holiday) </strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Thu - Tue</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">31</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Maria Montessori's 147'th Birthday</strong></h3>
      <h3 class="text-uppercase"><strong>Buwan ng Wika Culminating Activity</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
      </ul>
    </div>
  </div>
</div>
<!-- SEPTEMBER -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">September<span class="text-muted">  FAMILY MONTH</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">01</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>1st Quarter Parent-Teacher Conference</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Saturday</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">08</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Mama Mary's Birthday</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Saturday</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">24-27</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade / High School 2nd Mastery Test Check-up</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">30</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>FAMILY DAY</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Sunday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
      </ul>
    </div>
  </div>
</div>


<!-- OCTOBER -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">October<span class="text-muted">  Rosary and United Nations Month</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">05</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>First FRIDAY Mass</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday-Wednesday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">05</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Teacher's DAY</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">20</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>United Nation's Celebration / OPEN HOUSE / MYMP</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday-Wednesday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">15-19</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade / High School 2nd Quarter Mastery Test</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">25</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Start of MID-Year Assessment</strong></h3>
      <h3 class="text-uppercase"><strong>In-Service Training for TEACHERS</strong></h3>
      <ul class="list-inline">
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">27</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Start of Semester Break</strong></h3>
      <ul class="list-inline">
      </ul>
    </div>
  </div>


</div>

<!-- NOVEMBER -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">November<span class="text-muted"></span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">05</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Faculty & Staff resume to work</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">06</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Student's Resume of Classes</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">10</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>2nd Quearter Parent-Teacher Conference</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Saturday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">15</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Medical and Dental Check up</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Thursday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">16</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Yaya / Drivers Enrichment Program</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">30</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Bonifacio DAY</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
</div>
<!-- DECEMBER -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">December<span class="text-muted"> Education Week</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">03-07</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade / High School 3rd Qtr. Mastery Check-up </strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">07</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>First FRIDAY Mass</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>

  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">08</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>FEEDING PROGRAM</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">10-14</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>EDUCATION WEEK / SCIENCE FAIR</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">20</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Christmas Party</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">21</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>GIFT GIVING (OUTREACH PROGRAM)</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Thursday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">22</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Start of Teacher's Christmas BREAK</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>TBD</li>
      </ul>
    </div>
  </div>

  <!-- //this is where we insert the holiday timeline 2018 -->
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h4>2018 HOLIDAY LIST</h4>
        <ul class="timeline">
          <li>
            <a href="#" class="float-right">June 12</a>
            <p>Independence DAY</p>
          </li>
          <li>
            <a href="#" class="float-right">June 16</a>
            <p>Eid'l FITR</p>
          </li>
          <li>
            <a href="#" class="float-right">August 21</a>
            <p>Ninoy Aquino (special non-working Holiday)</p>
          </li>
          <li>
            <a href="#" class="float-right">August 22</a>
            <p>Eid-Al Adha</p>
          </li>
          <li>
            <a href="#" class="float-right">August 27</a>
            <p>National Heroes Day (special non-working Holiday)</p>
          </li>
          <li>
            <a href="#" class="float-right">October 05</a>
            <p>World Teacher's Day</p>
          </li>
          <li>
            <a href="#" class="float-right">November 01</a>
            <p>All Saints Day</p>
            <a href="#" class="float-right">November 30</a>
            <p>Bonifacio Day</p>
          </li>
          <li>
            <a href="#" class="float-right">December 08</a>
            <p>Feast of Immaculate Conception</p>
            <a href="#" class="float-right">December 25</a>
            <p>Christmas Day</p>
            <a href="#" class="float-right">December 30</a>
            <p>Rizal Day(regular holiday)</p>
          </li>
        </ul>
        <p class="lead">
          NOTE : This is a tentative school calendar. Changes may occur without prior notice. Please refer to your child's diary/journal to keep you updated.
        </p>
      </div>

    </div>
  </div>
  <!-- //end of holiday timeline 2018 -->
</div>

<!-- 2019 TIMELINE ACTIVITIES -->
<div class="container">
  <hr class="featurette-divider">
  <h1 class="display-2 text-center">2019 Timeline Activities</h1>
</div>
<!-- JANUARY 2018 -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">January<span class="text-muted"> Physical Fitness Sports & Development Month</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">03</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Faculty & Staff resume to work</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">07</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Resume of Classes</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">15-18</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade / High School 3rd Qtr. Mastery Test</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">21-27</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>AUTISM Awareness Week</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">28</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>LGMS 19th Foundation Day</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
</div>
<!-- FEBRUARY -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">February<span class="text-muted"> National Arts & Heart Month</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">01</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>First FRIDAY MASS</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Friday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">02</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>3rd Qtr. Parent-Teacher Conference</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">05</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Chinese New Year 2019</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">12</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>CASA Field TRIP</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">13</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Paranaque Day (no classes)</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">21</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>GS Field Trip</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
</div>

<!-- MARCH  -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">March<span class="text-muted"> Fire Preventive Week</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">01</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>First Friday MASS</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">01</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Group Musical Recital</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">02</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Musical Recital</strong></h3>
      <h3 class="text-uppercase"><strong>OPEN HOUSE</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">09</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade 6 National Achievement Test</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">12-15</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Grade / High School 4th FINAL EXAMS</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">18-20</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Required Practices</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">21-22</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Moving - UP Day / Graduation</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">25-29</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Teacher'S Clearance / Evaluation</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
</div>

<!-- APRIL  -->
<hr class="featurette-divider">
<div class="container">
  <h2 class="featurette-heading">April<span class="text-muted">.</span></h2>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">1-9</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>TEACHER's BREAK</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">9</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Araw ng Kagitingan</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">10</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>RESUME of WORK</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">18-21</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>HOLY WEEK</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday - Wednesday</li>
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
  <div class="row row-striped">
    <div class="col-2 text-right">
      <h1 class="display-4"><span class="badge badge-secondary">22</span></h1>
    </div>
    <div class="col-10">
      <h3 class="text-uppercase"><strong>Start of SUMMER CLASS</strong></h3>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>School Campus</li>
      </ul>
    </div>
  </div>
</div>
<hr class="featurette-divider">
<!-- THIS IS THE HOLIDAY TIMELINE -->
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4>2019 HOLIDAY LIST</h4>
      <ul class="timeline">
        <li>
          <a href="#" class="float-right">February 05</a>
          <p>Chinese New Year 2019</p>
          <a href="#" class="float-right">February 25</a>
          <p>EDSA Revolution Anniversary (Special Holiday for ALL Schools)</p>
        </li>
        <li>
          <a href="#" class="float-right">April 09</a>
          <p>Araw ng KAGITINGAN</p>
          <a href="#" class="float-right">April 18-21</a>
          <p>HOLY WEEK</p>
        </li>
      </ul>
      <p class="lead">
        NOTE : This is a tentative school calendar. Changes may occur without prior notice. <br>
        Please refer to your child's diary/journal to keep you updated.
      </p>
    </div>

  </div>
</div>

<!-- THIS IS THE HOLIDAY TIMELINE -->
<hr class="featurette-divider">
<hr class="featurette-divider">
{% endblock %}