{% extends 'index.html'%}


{% block content %}
{% load static %}
<link href="{% static 'students/css/product.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<link href="{% static 'students/css/gallery.css' %}" rel="stylesheet">

<div class="container">
  <hr class="featurette-divider">
  <h1 class="display-2 text-center">Casa MUFTI Day</h1>

</div>
<div class="container gallery-container">

  <div class="tz-gallery">

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/casa1.jpg'%}">
          <img src="{% static 'images/casa1.jpg'%}" alt="Park">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/mufti5.jpg'%}">
          <img src="{% static 'images/mufti5.jpg'%}" alt="Sky">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/mufti6.jpg'%}">
          <img src="{% static 'images/mufti6.jpg'%}" alt="Sky">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/casa2.jpg'%}">
          <img src="{% static 'images/casa2.jpg'%}" alt="Bridge">
        </a>
      </div>
      <div class="col-sm-12 col-md-4">
        <a class="lightbox" href="{% static 'images/casa3.jpg'%}">
          <img src="{% static 'images/casa3.jpg'%}" alt="Tunnel">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/casa4.jpg'%}">
          <img src="{% static 'images/casa4.jpg'%}" alt="Coast">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/casa5.jpg'%}">
          <img src="{% static 'images/casa5.jpg'%}" alt="Rails">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/casa6.jpg'%}">
          <img src="{% static 'images/casa6.jpg'%}" alt="Traffic">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/casa7.jpg'%}">
          <img src="{% static 'images/casa7.jpg'%}" alt="Rocks">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/casa8.jpg'%}">
          <img src="{% static 'images/casa8.jpg'%}" alt="Benches">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/casa9.jpg'%}">
          <img src="{% static 'images/casa9.jpg'%}" alt="Sky">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/mufti1.jpg'%}">
          <img src="{% static 'images/mufti1.jpg'%}" alt="Sky">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/mufti2.jpg'%}">
          <img src="{% static 'images/mufti2.jpg'%}" alt="Sky">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/mufti3.jpg'%}">
          <img src="{% static 'images/mufti3.jpg'%}" alt="Sky">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/mufti4.jpg'%}">
          <img src="{% static 'images/mufti4.jpg'%}" alt="Sky">
        </a>
      </div>
    </div>
  </div>

</div>
<div class="container">
  <hr class="featurette-divider">
  <h1 class="display-2 text-center">GS2 and High School July Activity</h1>

</div>
<div class="container gallery-container">
  <!-- //tz gallery start// -->
  <div class="tz-gallery">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/julyactivity1.jpg'%}">
          <img src="{% static 'images/julyactivity1.jpg'%}" alt="Park">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/julyactivity2.jpg'%}">
          <img src="{% static 'images/julyactivity2.jpg'%}" alt="Bridge">
        </a>
      </div>
      <div class="col-sm-12 col-md-4">
        <a class="lightbox" href="{% static 'images/julyactivity3.jpg'%}">
          <img src="{% static 'images/julyactivity3.jpg'%}" alt="Tunnel">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/julyactivity4.jpg'%}">
          <img src="{% static 'images/julyactivity4.jpg'%}" alt="Coast">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/julyactivity5.jpg'%}">
          <img src="{% static 'images/julyactivity5.jpg'%}" alt="Rails">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/julyactivity6.jpg'%}">
          <img src="{% static 'images/julyactivity6.jpg'%}" alt="Traffic">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/julyactivity8.jpg'%}">
          <img src="{% static 'images/julyactivity8.jpg'%}" alt="Benches">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/julyactivity9.jpg'%}">
          <img src="{% static 'images/julyactivity9.jpg'%}" alt="Sky">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/julyactivity10.jpg'%}">
          <img src="{% static 'images/julyactivity10.jpg'%}" alt="Sky">
        </a>
      </div>
    </div>

  </div>
  <!-- //tz gallery end// -->
</div>
<div class="container">
  <hr class="featurette-divider">
  <h1 class="display-2 text-center">BFP & RED CROSS Seminar 2018</h1>

</div>

<div class="container gallery-container">
  <div class="tz-gallery">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/sem7.jpg'%}">
          <img src="{% static 'images/sem7.jpg'%}" alt="Park">
        </a>
      </div>
      <div class="col-sm-12 col-md-4">
        <a class="lightbox" href="{% static 'images/sem9.jpg'%}">
          <img src="{% static 'images/sem9.jpg'%}" alt="Tunnel">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/sem12.jpg'%}">
          <img src="{% static 'images/sem12.jpg'%}" alt="Traffic">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/sem13.jpg'%}">
          <img src="{% static 'images/sem13.jpg'%}" alt="Benches">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/bfp9.jpg'%}">
          <img src="{% static 'images/bfp9.jpg'%}" alt="Benches">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/bfp8.jpg'%}">
          <img src="{% static 'images/bfp8.jpg'%}" alt="Benches">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/bfp7.jpg'%}">
          <img src="{% static 'images/bfp7.jpg'%}" alt="Benches">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/bfp6.jpg'%}">
          <img src="{% static 'images/bfp6.jpg'%}" alt="Benches">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/bfp2.jpg'%}">
          <img src="{% static 'images/bfp2.jpg'%}" alt="Benches">
        </a>
      </div>
    </div>

  </div>

</div>
<!-- this is for student council -->

<div class="container">
  <hr class="featurette-divider">
  <h1 class="display-2 text-center">Student Council 2018</h1>
</div>

<div class="container gallery-container">

  <div class="tz-gallery">

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/sc18.jpg'%}">
          <img src="{% static 'images/sc18.jpg'%}" alt="Park">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/sc19.jpg'%}">
          <img src="{% static 'images/sc19.jpg'%}" alt="Bridge">
        </a>
      </div>
      <div class="col-sm-12 col-md-4">
        <a class="lightbox" href="{% static 'images/sc20.jpg'%}">
          <img src="{% static 'images/sc20.jpg'%}" alt="Tunnel">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/sc21.jpg'%}">
          <img src="{% static 'images/sc21.jpg'%}" alt="Coast">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/sc22.jpg'%}">
          <img src="{% static 'images/sc22.jpg'%}" alt="Rails">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/sc23.jpg'%}">
          <img src="{% static 'images/sc23.jpg'%}" alt="Traffic">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/sc24.jpg'%}">
          <img src="{% static 'images/sc24.jpg'%}" alt="Rocks">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/sc25.jpg'%}">
          <img src="{% static 'images/sc25.jpg'%}" alt="Benches">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/sc26.jpg'%}">
          <img src="{% static 'images/sc26.jpg'%}" alt="Sky">
        </a>
      </div>
    </div>

  </div>

</div>
<!-- this is for caroling -->

<!-- END OF CAROLING -->
<!-- this is for august -->
<div id="buwanngwika" class="container">
  <hr class="featurette-divider">
  <h1 class="display-2 text-center">Buwan ng WIKA</h1>
</div>

<div class="container gallery-container">
  <div class="tz-gallery">

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/bw7.jpg'%}">
          <img src="{% static 'images/bw7.jpg'%}" alt="Park">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/bw6.jpg'%}">
          <img src="{% static 'images/bw6.jpg'%}" alt="Bridge">
        </a>
      </div>
      <div class="col-sm-12 col-md-4">
        <a class="lightbox" href="{% static 'images/bw5.jpg'%}">
          <img src="{% static 'images/bw5.jpg'%}" alt="Tunnel">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/bw4.jpg'%}">
          <img src="{% static 'images/bw4.jpg'%}" alt="Coast">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/bw2.jpg'%}">
          <img src="{% static 'images/bw2.jpg'%}" alt="Rails">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/bw1.jpg'%}">
          <img src="{% static 'images/bw1.jpg'%}" alt="Rocks">
        </a>
      </div>
    </div>

  </div>
</div>
<div id="monteball" class="container">
  <hr class="featurette-divider">
  <h1 class="display-2 text-center">Montessori Ball</h1>
</div>

<div class="container gallery-container">
  <div class="tz-gallery">

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/ball1.jpg'%}">
          <img src="{% static 'images/ball1.jpg'%}" alt="Park">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/ball2.jpg'%}">
          <img src="{% static 'images/ball2.jpg'%}" alt="Bridge">
        </a>
      </div>
      <div class="col-sm-12 col-md-4">
        <a class="lightbox" href="{% static 'images/ball3.jpg'%}">
          <img src="{% static 'images/ball3.jpg'%}" alt="Tunnel">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/ball4.jpg'%}">
          <img src="{% static 'images/ball4.jpg'%}" alt="Coast">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/ball5.jpg'%}">
          <img src="{% static 'images/ball5.jpg'%}" alt="Rails">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/ball6.jpg'%}">
          <img src="{% static 'images/ball6.jpg'%}" alt="Rocks">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/ball7.jpg'%}">
          <img src="{% static 'images/ball7.jpg'%}" alt="Rocks">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/ball8.jpg'%}">
          <img src="{% static 'images/ball8.jpg'%}" alt="Rocks">
        </a>
      </div>

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/ball10.jpg'%}">
          <img src="{% static 'images/ball10.jpg'%}" alt="Rocks">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/ball11.jpg'%}">
          <img src="{% static 'images/ball11.jpg'%}" alt="Rocks">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/ball12.jpg'%}">
          <img src="{% static 'images/ball12.jpg'%}" alt="Rocks">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/ball9.jpg'%}">
          <img src="{% static 'images/ball9.jpg'%}" alt="Rocks">
        </a>
      </div>
    </div>

  </div>
</div>

<div id="familymonth" class="container">
  <hr class="featurette-divider">
  <h1 class="display-2 text-center">FAMILYMPICS</h1>
</div>

<div class="container gallery-container">
  <div class="tz-gallery">

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/fam1.jpg'%}">
          <img src="{% static 'images/fam1.jpg'%}" alt="Park">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/fam2.jpg'%}">
          <img src="{% static 'images/fam2.jpg'%}" alt="Bridge">
        </a>
      </div>
      <div class="col-sm-12 col-md-4">
        <a class="lightbox" href="{% static 'images/fam3.jpg'%}">
          <img src="{% static 'images/fam3.jpg'%}" alt="Tunnel">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/fam4.jpg'%}">
          <img src="{% static 'images/fam4.jpg'%}" alt="Coast">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/fam5.jpg'%}">
          <img src="{% static 'images/fam5.jpg'%}" alt="Coast">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/fam6.jpg'%}">
          <img src="{% static 'images/fam6.jpg'%}" alt="Coast">
        </a>
      </div>
    </div>
  </div>
</div>
<div id="psap" class="container">
  <hr class="featurette-divider">
  <h1 class="display-2 text-center">PSAP Palaro 2018</h1>
</div>
<div class="container gallery-container">
  <div class="tz-gallery">

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/psap1.jpg'%}">
          <img src="{% static 'images/psap1.jpg'%}" alt="Park">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/psap2.jpg'%}">
          <img src="{% static 'images/psap2.jpg'%}" alt="Bridge">
        </a>
      </div>
      <div class="col-sm-12 col-md-4">
        <a class="lightbox" href="{% static 'images/psap3.jpg'%}">
          <img src="{% static 'images/psap3.jpg'%}" alt="Tunnel">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/psap4.jpg'%}">
          <img src="{% static 'images/psap4.jpg'%}" alt="Coast">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/psap5.jpg'%}">
          <img src="{% static 'images/psap5.jpg'%}" alt="Coast">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{% static 'images/psap6.jpg'%}">
          <img src="{% static 'images/psap6.jpg'%}" alt="Coast">
        </a>
      </div>
    </div>
  </div>
</div>
<div id="comingsoon" class="container">
  <hr class="featurette-divider">
  <h1 class="display-2 text-center">UPCOMING EVENTS</h1>
  <hr class="featurette-divider">
</div>



<!-- this is test for gallery -->

<!-- script info -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
  baguetteBox.run('.tz-gallery');
</script>



{% endblock %}