{% extends 'index.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
<link href="{% static 'students/css/gallery.css' %}" rel="stylesheet">

<div class="container">
  <hr class="featurette-divider">
  <h1 class="display-2 text-center">News and Updates</h1>
</div>
<hr class="featurette-divider">

<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" img src="{% static 'images/sem59.jpg' %}"data-src="holder.js/200x200" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">National Safe Kids</p>
              <p>We invited officers from Bureau of Fire and Protection Parañaque and Volunteers from Philippine RED CROSS</p>
              <div class="d-flex justify-content-between align-items-center">
                <span class="fa-stack fa-lg">
                  <a href="#" data-toggle="modal" data-target="#nationalModal">
                        <i class="fa fa-camera fa-stack-1x icon-background green"></i></a>
                  </span>
                <!-- <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View Test</button>
                </div> -->
                <small class="text-muted"></small>
              </div>
              <div class="modal fade" id="nationalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title" id="nationalModal">National Safe Kids Month</h1>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- //gallery test// -->
                      <div class="container-fluid">
                        <div class="tz-gallery">
                          <div class="row">
                            <div class="col-sm-6">
                              <a class="lightbox" href="{% static 'images/fire1.jpg'%}">
                                          <img src="{% static 'images/fire1.jpg'%}" alt="Park">
                                      </a>
                            </div>
                            <div class="col-sm-6 ">
                              <a class="lightbox" href="{% static 'images/fire2.jpg'%}">
                                          <img src="{% static 'images/fire3.jpg'%}" alt="Sky">
                                      </a>
                            </div>

                          </div>
                        </div>
                      </div>
                      <!-- gallery end -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- //this is where we add the modal test for photo collage test// -->
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" img src="{% static 'images/julyactivity9.jpg' %}"data-src="holder.js/200x200" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">JULY : Nutrition Month</p>
              <p>GO, GROW, and GLOW Foods</p>
              <p>Students prepared HEALTHY FOOD</p>
              <div class="d-flex justify-content-between align-items-center">
                <span class="fa-stack fa-lg">
                  <a href="#" data-toggle="modal" data-target="#nutritionMonth">
                        <i class="fa fa-camera fa-stack-1x icon-background green"></i></a>
                  </span>
              </div>
              <div class="modal fade" id="nutritionMonth" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title" id="nutritionMonth">Nutrition Month</h1>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <!-- //gallery test// -->
                      <div class="container-fluid">
                        <div class="tz-gallery">
                          <div class="row">
                            <div class="col-sm-6">
                              <a class="lightbox" href="{% static 'images/nutri1.jpg'%}">
                                          <img src="{% static 'images/nutri1.jpg'%}" alt="Park">
                                      </a>
                            </div>
                            <div class="col-sm-6 ">
                              <a class="lightbox" href="{% static 'images/nutri2.jpg'%}">
                                          <img src="{% static 'images/nutri2.jpg'%}" alt="Sky">
                                  </a>
                            </div>

                          </div>
                        </div>
                      </div>
                      <!-- gallery end -->
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- //this is the end// -->
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" img src="{% static 'images/bw3.jpg' %}"data-src="holder.js/200x200" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">August : Buwan ng Wika</p>
              <p>TEMA : Panitikan ng noon isasalin sa ngayon</p>
              <div class="d-flex justify-content-between align-items-center">
                <span class="fa-stack fa-lg">
                  <a href="{% url 'gallery'%}#buwanngwika">
                        <i class="fa fa-camera fa-stack-1x icon-background green"></i></a>
                  </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" img src="{% static 'images/monteball.jpg' %}"data-src="holder.js/200x200" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">September : Montessori Ball</p>
              <p>Montessori Magic Ball held on September 05, 2018 in commemoration of 147th Birthday of Maria Montessori</p>
              <div class="d-flex justify-content-between align-items-center">
                <span class="fa-stack fa-lg">
                  <a href="{% url 'gallery'%}#monteball">
                        <i class="fa fa-camera fa-stack-1x icon-background green"></i></a>
                  </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" img src="{% static 'images/familymonth.jpg' %}"data-src="holder.js/200x200" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Family Month</p>
              <p>Theme : "FAMILYMPICS" held on September 30, 2018 at The Village Sports Club</p>
              <div class="d-flex justify-content-between align-items-center">
                <span class="fa-stack fa-lg">
                  <a href="{% url 'gallery'%}#familymonth">
                        <i class="fa fa-camera fa-stack-1x icon-background green"></i></a>
                  </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" img src="{% static 'images/psapmain.jpg' %}"data-src="holder.js/200x200" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">PSAP Palaro 2018</p>
              <p>Swimming Competition held on October 03, 2018 at Olivarez College</p>
              <p>FEATURING : Recz Alcantara : LGMS Swimmer</p>
              <p>TAEKWONDO Competition : October 10, 2018</p>
              <p>FEATURING : LGMS Taekwondo TEAM</p>
              <div class="d-flex justify-content-between align-items-center">
                <span class="fa-stack fa-lg">
                  <a href="{% url 'gallery'%}#psap">
                        <i class="fa fa-camera fa-stack-1x icon-background green"></i></a>
                  </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" img src="{% static 'images/openhouse.jpg' %}"data-src="holder.js/200x200" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">OPEN HOUSE</p>
              <p>We invite parents to bring your friends for a visit and inquiries.</p>
              <div class="d-flex justify-content-between align-items-center">
                <span class="fa-stack fa-lg">
                  <a href="{% url 'gallery'%}#comingsoon">
                        <i class="fa fa-camera fa-stack-1x icon-background green"></i></a>
                  </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" img src="{% static 'images/mymp.jpg' %}"data-src="holder.js/200x200" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Mid-Year Musical Performance</p>
              <p>Students Mid-Year Music Recital on October 20, 2018, Saturday</p>
              <div class="d-flex justify-content-between align-items-center">
                <span class="fa-stack fa-lg">
                  <a href="{% url 'gallery'%}#comingsoon">
                        <i class="fa fa-camera fa-stack-1x icon-background green"></i></a>
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}