{% extends 'index.html'%}


{% block content %}
<div class="container marketing">
  <h1 class="display-2">News & Events</h1>

  <!-- FIRST LAYER -->

<div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">National Safe Kids Month</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">Parents Orientation 10am</a>
              </h3>
              <div class="mb-1 text-muted">13 June 2018</div>
              <p class="card-text mb-auto">Grade School and High School Start of Classes</p>
              <div class="mb-1 text-muted">15 June 2018</div>
              <p class="card-text mb-auto">Eid'l FITR</p>
              <div class="mb-1 text-muted">29 June 2018</div>
              <p class="card-text mb-auto">ECLUB Selling</p>
            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">Nutrition Month</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#">CASA Start Classes</a>
              </h3>
              <h3 class="mb-0">
                <a class="text-dark" href="#">TEACH Start Classes</a>
              </h3>
              <div class="mb-1 text-muted">06 July 2018</div>
              <p class="card-text mb-auto">First Friday MASS.</p>
              <div class="mb-1 text-muted">02 - 06 July 2018</div>
              <p class="card-text mb-auto">Student Council Week.</p>
              <div class="mb-1 text-muted">16 - 19 July 2018</div>
              <p class="card-text mb-auto">Grade School 1st Mastery Check-up</p>
              <div class="mb-1 text-muted">27 July 2018</div>
              <p class="card-text mb-auto">National Disaster & Preparedness Day</p>
              <p class="card-text mb-auto">MUFTI DAY</p>
              <div class="mb-1 text-muted">27 July 2018</div>
              <p class="card-text mb-auto">Nutritional Month Celebration</p>
            </div>
          </div>
        </div>
      </div>

      <!-- SECOND LAYER -->

      <div class="row mb-2">
              <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                  <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">Buwan ng Wika</strong>
                    <h3 class="mb-0">
                      <a class="text-dark" href="#">Senior high - 1st DAY of Classes</a>
                    </h3>
                    <div class="mb-1 text-muted">03 August 2018</div>
                    <p class="card-text mb-auto">First Friday Mass</p>
                    <div class="mb-1 text-muted">11 August 2018</div>
                    <p class="card-text mb-auto">Parents Enrichment Program</p>
                    <div class="mb-1 text-muted">21 August 2018</div>
                    <p class="card-text mb-auto">NINOY AQUINO DAY(Special Non-Working Holiday)</p>
                    <div class="mb-1 text-muted">23, 24, 28 August 2018</div>
                    <p class="card-text mb-auto">Grade School 1st Mastery Test</p>
                    <div class="mb-1 text-muted">27 August 2018</div>
                    <p class="card-text mb-auto">National Heroes Day (Regular Holiday)</p>
                    <div class="mb-1 text-muted">30 August 2018</div>
                    <p class="card-text mb-auto">Maria Montessori's 147th Birthday</p>
                    <div class="mb-1 text-muted">31 August 2018</div>
                    <p class="card-text mb-auto">Buwan ng Wika Culminating Activity</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                  <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">1st Quarter Parent-Teacher Conference</strong>
                    <h3 class="mb-0">
                      <a class="text-dark" href="#">CASA Start Classes</a>
                    </h3>
                    <div class="mb-1 text-muted">08 September 2018</div>
                    <p class="card-text mb-auto">Mama Mary's Birthday</p>
                    <div class="mb-1 text-muted">25-27 September 2018</div>
                    <p class="card-text mb-auto">Grade School 2nd Mastery TEST</p>
                    <div class="mb-1 text-muted">30 September 2018</div>
                    <p class="card-text mb-auto">FAMILY DAY</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- THIRD LAYER -->

            <div class="row mb-2">
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                          <strong class="d-inline-block mb-2 text-success">Rosary Month & UN Month</strong>
                          <h3 class="mb-0">
                            <a class="text-dark" href="#">First Friday Mass</a>
                            <a class="text-dark" href="#">Teachers Day</a>
                          </h3>
                          <div class="mb-1 text-muted">19 - 20 October</div>
                          <p class="card-text mb-auto">United Nation's CELEBRATION / OPEN HOUSE / MYMP.</p>
                          <div class="mb-1 text-muted">22 - 24 October </div>
                          <p class="card-text mb-auto">United Nation's CELEBRATION / OPEN HOUSE / MYMP.</p>
                          <div class="mb-1 text-muted">25 - November </div>
                          <p class="card-text mb-auto">Student SEM-BREAK</p>
                          <div class="mb-1 text-muted">25 - 31 October </div>
                          <p class="card-text mb-auto">MID-YEAR ASSESSMENT</p>
                          <p class="card-text mb-auto">IN-Service Training for TEACHERS</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                          <strong class="d-inline-block mb-2 text-success">Resume Work Faculty</strong>
                          <h3 class="mb-0">
                            <a class="text-dark" href="#">Resume of Classes for Students</a>
                          </h3>
                          <div class="mb-1 text-muted">10 November</div>
                          <p class="card-text mb-auto">2nd Quarter Parent-Teacher Conference</p>
                          <div class="mb-1 text-muted">15 November</div>
                          <p class="card-text mb-auto">Medical / Dental Check up</p>
                          <div class="mb-1 text-muted">16 November</div>
                          <p class="card-text mb-auto">FIRST HOLY COMMUNION</p>
                          <div class="mb-1 text-muted">24 November</div>
                          <p class="card-text mb-auto">YAYA / Drivers Enrollment Program</p>
                          <div class="mb-1 text-muted">30 November</div>
                          <p class="card-text mb-auto">Bonifacio Day (Regular Month)</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                          <strong class="d-inline-block mb-2 text-success">Education Week</strong>
                          <h3 class="mb-0">
                            <a class="text-dark" href="#">First Friday MASS</a>
                          </h3>
                          <div class="mb-1 text-muted">08 December</div>
                          <p class="card-text mb-auto">FEEDING PROGRAM</p>
                          <div class="mb-1 text-muted">10-13 December</div>
                          <p class="card-text mb-auto">Education Week / Science FAIR</p>
                          <div class="mb-1 text-muted">14, 17, 19 December</div>
                          <p class="card-text mb-auto">Grade School 2nd Mastery Test</p>
                          <div class="mb-1 text-muted">20 December</div>
                          <p class="card-text mb-auto">Christmas Party</p>
                          <div class="mb-1 text-muted">21 December</div>
                          <p class="card-text mb-auto">Gift Giving (Outreach Program)</p>
                        </div>
                      </div>
                    </div>
                  </div>
    </div>

    <div class="container marketing">
      <h1 class="display-2">2019 Timeline Activities</h1>
      <!-- FOURTH LAYER -->
      <div class="row mb-2">
              <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                  <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">Physical Fitness Sports & Development Month</strong>
                    <h3 class="mb-0">
                      <a class="text-dark" href="#">Resume Work for Faculty</a>
                    </h3>
                    <div class="mb-1 text-muted">15 - 18 January</div>
                    <p class="card-text mb-auto">Autism Awareness Week</p>
                    <div class="mb-1 text-muted">15 - 18 January</div>
                    <p class="card-text mb-auto">LGMS 19TH Foundation Day</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                  <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">National Arts & Health Month</strong>
                    <h3 class="mb-0">
                      <a class="text-dark" href="#">Resume Work for Faculty & Staff</a>
                    </h3>
                    <h3 class="mb-0">
                      <a class="text-dark" href="#">Grade School 3rd Quarter Mastery TEST</a>
                    </h3>
                    <div class="mb-1 text-muted">05 February</div>
                    <p class="card-text mb-auto">Chinese New Year</p>
                    <div class="mb-1 text-muted">16 February</div>
                    <p class="card-text mb-auto">3rd Quarter. Parent-Teacher Conference</p>
                    <div class="mb-1 text-muted">12 February</div>
                    <p class="card-text mb-auto">CASA Field TRIP</p>
                    <div class="mb-1 text-muted">13 February</div>
                    <p class="card-text mb-auto">Parañaque Day</p>
                    <div class="mb-1 text-muted">21 February</div>
                    <p class="card-text mb-auto">Grade School FIELD TRIP</p>
                    <div class="mb-1 text-muted">22 February</div>
                    <p class="card-text mb-auto">Grade School NO CLASSES</p>
                    <div class="mb-1 text-muted">23</div>
                    <p class="card-text mb-auto">OPEN HOUSE</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-2">
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                          <strong class="d-inline-block mb-2 text-success">FIRE WEEK</strong>
                          <h3 class="mb-0">
                            <a class="text-dark" href="#">FIRST FRIDAY MASS</a>
                            <a class="text-dark" href="#">GROUP MUSICAL RECITAL</a>
                          </h3>
                          <div class="mb-1 text-muted">12 - 15 March</div>
                          <p class="card-text mb-auto">Grade School 4th FINAL EXAMS</p>
                          <div class="mb-1 text-muted">18 - 20 </div>
                          <p class="card-text mb-auto">Required Practices</p>
                          <div class="mb-1 text-muted">21 - 22 </div>
                          <p class="card-text mb-auto">MOVING UP Day / Graduation</p>
                          <div class="mb-1 text-muted">25 - 29 </div>
                          <p class="card-text mb-auto">Teachers Clearance</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                          <strong class="d-inline-block mb-2 text-success">TEACHERS BREAK</strong>
                          <h3 class="mb-0">
                            <a class="text-dark" href="#">ARAW NG KAGITINGAN</a>
                          </h3>
                          <h3 class="mb-0">
                            <a class="text-dark" href="#">HOLY WEEK</a>
                          </h3>
                          <div class="mb-1 text-muted">18 -21 </div>
                          <p class="card-text mb-auto">HOLY WEEK</p>
                          <div class="mb-1 text-muted">10 </div>
                          <p class="card-text mb-auto">RESUME OF WORK</p>
                          <div class="mb-1 text-muted">22 - May 2019</div>
                          <p class="card-text mb-auto">SUMMER CLASSES</p>
                        </div>
                      </div>
                    </div>
                  </div>
    </div>
    <!-- FOURTH LAYER -->



{% endblock %}
