<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content=""> -->
  <title>{% block title %} Learning Garden Montessori Access{% endblock %}</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.typekit.net/hzk0rnz.css">



  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"> -->

</head>

<body>
  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-md-10 col-sm-12">
        <div class="row">
          <div class="col-6">
            <h1 class="logo">
              <a href="{% url 'home' %}">
                Test School
                {% if user.is_authenticated %}
                {% if user.is_parent %}
                <span class="icon-feather" data-toggle="tooltip" data-placement="right" title="Parents profile"></span>
                {% else %}
                <span class="icon-graduation-cap" data-toggle="tooltip" data-placement="right" title="Student profile"></span>
                {% endif %}
                {% endif %}
              </a>
            </h1>
          </div>
          <div class="col-6 text-right">
            {% if user.is_authenticated %}
            <p class="pt-3">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-light" role="button">Log in</a>
            <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a>
            {% endif %}
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
            {% block content %}
            {% endblock %}
          </div>
        </div>
        <footer>

        </footer>
      </div>
    </div>
  </div>





  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>

</html>