{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block title %} Online Portal {% endblock %}



{% block content %}
<link rel="stylesheet" href="https://use.typekit.net/hzk0rnz.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

{% load static %}
<link href="{% static 'students/css/dashboard.css' %}" rel="stylesheet">
<link href="{% static 'students/css/profile-card.css' %}" rel="stylesheet">
<link href="{% static 'students/css/footer-with-map.css' %}" rel="stylesheet">



<main role="main" class="inner cover">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Welcome to LGMS</a>
    <div class="btn-group">
      <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ACCESS OPTIONS
      </button>
      <<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
        <a class="dropdown-item" href="{% url 'home' %}">Online Portal</a>
        <a class="dropdown-item" href="{% url 'about' %}">Official Page</a>
    </div>
    </div>
  </nav>

  <body class="text-center">
  </body>
</main>

<div class="jumbotron">
  <h1 class="display-4">Hello and Welcome!</h1>
  <p class="lead">Welcome to LGMS, Please signup or register to apply</p>
  <hr class="my-4">
  <p>This serves as portal for Parents, Teachers, Students.</p>
  <!-- this is experiment for the tab login  -->

  <p class="lead">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="loginhome-tab" data-toggle="tab" href="#loginhome" role="tab" aria-controls="home" aria-selected="true">Enter Portal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="parents-tab" data-toggle="tab" href="#parents" role="tab" aria-controls="profile" aria-selected="false">Parents Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="teachers-tab" data-toggle="tab" href="#teachers" role="tab" aria-controls="contact" aria-selected="false">Admin Teachers or Staff</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="loginhome" role="tabpanel" aria-labelledby="home-tab">
          <!-- this is the login screen  -->

          <body class="text-center">
            <!-- need to rename the form of this is login  -->
            <form class="form-signin" method="POST">
              <a href="{% url 'login_form' %}" class="btn btn-outline-success my-2 my-sm-0" role="button">.</a>
              {% csrf_token %}
              {{ loginform | crispy }}
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Enter Online Portal</button>


            </form>
            <p class="mt-5 mb-3 text-muted">Don't have access yet please register to our Available Section </p>
            <a href="{% url 'signup_form' %}" class="btn btn-outline-success my-2 my-sm-0" role="button">Parents</a>
            <a href="{% url 'signup_form' %}" class="btn btn-outline-success my-2 my-sm-0" role="button">Teachers</a>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
          </body>


        </div>
        <!-- need to rename the form of this is login  -->

        <div class="tab-pane fade" id="parents" role="tabpanel" aria-labelledby="profile-tab">
          <div class="container">
            <form method="post">
              {% csrf_token %}
              {{ registrationform | crispy }}
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
            </form>
          </div>
        </div>
        <div class="tab-pane fade" id="teachers" role="tabpanel" aria-labelledby="contact-tab">
          <div class="container">
            <form method="post">
              {% csrf_token %}
              {{ registrationform | crispy }}
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
            </form>
          </div>
          <a href="{% url 'signup_form' %}" class="btn btn-outline-success my-2 my-sm-0" role="button">Parents Registration</a>
        </div>
      </div>

    </div>
  </p>


</div>
<!-- this is for footer test with div  -->
<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>Get started</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Sign up</a></li>
          <li><a href="#">Downloads</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>About us</h5>
        <ul>
          <li><a href="#">Company Information</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Reviews</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Support</h5>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help desk</a></li>
          <li><a href="#">Forums</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Legal</h5>
        <ul>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <!-- Here we use the Google Embed API to show Google Maps. -->
    <!-- In order for this to work in your project you will need to generate a unique API key.  -->

  </div>
  <iframe id="map-container" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3863.513517661026!2d121.01180481500596!3d14.455176789895258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397ce3dd275c431%3A0x3120fad3d13ece50!2s266+Aguirre+Ave%2C+Manila%2C+1700+Metro+Manila!5e0!3m2!1sen!2sph!4v1533988902594">
  </iframe>
  <div class="social-networks">
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Copyright © 2018 Learning Garden Montessori </p>
  </div>
</footer>

<!-- commented user profile card  -->



<!-- Icons -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });
</script>
{% endblock %}